<div class="container">
  <div class="greetContent">
    <div class="aboutHead">
      <h3 class="abthd">
        Welcome to <span class="spanTxt"> Archer Engineering </span>
      </h3>
    </div>
    <div class="aboutPara">
      <p class="abtpa">
        From modern ceiling fans to energy-efficient LED lights and reliable
        electrical distribution boards, our product range is carefully selected
        to meet the highest standards of safety, durability, and performance. We
        work closely with leading brands and manufacturers to ensure our
        customers get the best products at competitive prices.
      </p>
    </div>
    <div class="productsBox">
      <div
        class="outer-box"
        *ngFor="let aboutcrd of aboutCard; let i = index"
        [ngClass]="{ boardItem: i === 2 }"
      >
        <div class="innerImg">
          <img class="proImg" [src]="aboutcrd.aboutImg" alt="" srcset="" />
        </div>

        <div class="innerHead">
          <h4 class="headtxt" [innerHTML]="aboutcrd.aboutHead"></h4>
        </div>

        <div class="innerText">
          <p class="inTxt">{{ aboutcrd.aboutTxt }}</p>
        </div>
      </div>
    </div>

    <!-- <div class="prodContent">
      <div class="prodCountImg">
        <img class="prodConti" src="/Images/count-banner.png" alt="">
        <div class="prodCountNum">
          <h4 class="Num" *ngFor="let count of countContent">{{count.CountNum}}+</h4>
        </div>
        <div class="prodCountContent">
          <p *ngFor="let count of countContent; let i = index" [ngClass]="{'cntCount': i === 3}">{{count.CountContent}}
          </p>
        </div>

      </div>
    </div> -->

    <div class="aboutusContent">
      <div class="aboutInnerContent">
        <div class="innerImg">
          <img
            class="abtimg"
            *ngFor="let abtimg of abtimgs"
            [src]="abtimg.abtim"
            alt=""
            srcset=""
          />
        </div>
        <div class="abtHead">
          <h3 class="hdabt spanTxt">About us</h3>
        </div>
      </div>
      <div class="abtCon">
        <p class="abtcontxt">
          Myself, Mahalingam S, worked as a Techno-Commercial Executive at
          various levels with 25+ years of experience in sales, marketing and
          business solutions across India’s leading MNCs in the electric motors
          and industrial solutions sector.
          <br />
          <br />
          With proven techno commercial expertise and building long-term
          relationships with OEMs, channel partners, consultants, and project
          contractors, I ventured into the market - to become most trusted
          partner for specialized technical solutions by combining decades of
          industry knowledge with innovative, customer-centric approaches.

          <br />
          <br />
          <b> Our Area of Focus for Customer Service are as below </b>
          <br />
           <br />
          We can supply Electric Motors - Three phase, single phase and BLDC
          motors from reputed brands like CG, Siemens and Bharat Bijlee.
          Standard and Various Nonstandard tailor-made designs to suit specific
          requirement and applications can be supplied.

          <br />
          <br />
          Joined as Channel partner with M/s Luker Electric. Luker is an
          electrical products and solutions provider with ISO 9001, ISO 14001
          and CE certifications that offers a wide range of innovative and
          high-quality products for industrial, commercial, and residential
          applications. Luker product portfolio includes LED lighting solutions,
          solar lighting solutions, indoor and outdoor lighting fixtures, FANs,
          Switch Gear products and Water Heaters. The company has a strong R&D
          team that constantly works towards developing new and innovative
          products to cater to the changing needs of its customers.
          <br />
          <br />
        </p>
        <div class="abtBtn">
          <button class="slidebtn">Our Products</button>
        </div>
      </div>
    </div>
  </div>
</div>
