<div class="outer-content">
  <div class="inner-content">
    <div class="contain">
      <div class="about-img">
        <img src="/Images/Banner-4.jpg" alt="" />
      </div>
      <div class="about-con">
        <div class="aboutHead">
          <h3>ABOUT US</h3>
        </div>
        <div class="aboutContent">
          <p>
            Welcome to
            <span class="aboutConName"> Archer Engineering & Services</span>,
            your trusted source for high-quality electrical products and
            supplies. With a strong commitment to reliability, safety, and
            innovation, we provide a wide range of electrical components to meet
            your residential, commercial, and industrial needs.
          </p>
          <p>
            Whether you're a contractor, a business owner, or a DIY enthusiast,
            we ensure you get top-performing products at competitive prices. Our
            knowledgeable team is here to guide you with expert advice and
            dependable customer service.
          </p>
          <p>
            At Archer Engineering & Services, we take pride in offering only the best brands
            in the industry — tested for durability and performance. From
            electrical wires, switches, and lighting solutions to advanced
            control systems and safety gear, we stock everything you need under
            one roof.
          </p>
          <p>
            We believe in building long-term relationships with our customers by
            upholding values of honesty, quality, and customer satisfaction. Our
            seamless procurement process, prompt delivery service, and
            commitment to after-sales support have earned us the trust of
            hundreds of loyal clients.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
