<div class="container">

  <div class="greetContent">

    <div class="aboutHead">
      <h3 class="abthd">Welcome to <span class="spanTxt"> Archer Engineering </span> </h3>
    </div>
    <div class="aboutPara">
      <p class="abtpa">From modern ceiling fans to energy-efficient LED lights and reliable electrical distribution
        boards, our product range is carefully selected to meet the highest standards of safety, durability, and
        performance. We work closely with leading brands and manufacturers to ensure our customers get the best products
        at competitive prices.</p>
    </div>
    <div class="productsBox">

      <div class="outer-box" *ngFor="let aboutcrd of aboutCard; let i = index" [ngClass]="{'boardItem' : i === 2}">

        <div class="innerImg">
          <img class="proImg" [src]="aboutcrd.aboutImg" alt="" srcset="">
        </div>

        <div class="innerHead">
          <h4 class="headtxt" [innerHTML]="aboutcrd.aboutHead"></h4>
        </div>

        <div class="innerText">
          <p class="inTxt">{{aboutcrd.aboutTxt}}</p>
        </div>
      </div>

    </div>

    <div class="prodContent">
      <div class="prodCountImg">
        <img class="prodConti" src="/Images/count-banner.png" alt="">
        <div class="prodCountNum">
          <h4 class="Num" *ngFor="let count of countContent">{{count.CountNum}}+</h4>
        </div>
        <div class="prodCountContent">
          <p *ngFor="let count of countContent; let i = index" [ngClass]="{'cntCount': i === 3}">{{count.CountContent}}
          </p>
        </div>

      </div>
    </div>

    <div class="aboutusContent">
      <div class="aboutInnerContent">
        <div class="innerImg">
          <img class="abtimg" src="/Images/aboutus-img.jpg" alt="" srcset="">
        </div>
        <div class="abtHead">
          <h3 class="hdabt spanTxt">About us</h3>
        </div>
      </div>
      <div class="abtCon">
        <p class="abtcontxt">At Archer Engineering, we are passionate about transforming everyday living through smart,
          stylish, and
          reliable electrical solutions.From our high-performance fans that deliver unmatched airflow, to premium LED
          lighting that brightens spaces with elegance and efficiency, to robust power boards that keep your home and
          business safe every product is designed with you in mind.
          <br> <br>
          Driven by innovation and backed by years of
          expertise, we combine cutting-edge technology with superior craftsmanship to deliver performance you can
          trust, comfort you can feel, and designs you’ll love. Our mission is simple: to make your spaces smarter,
          safer, and more beautiful — one product at a time.
          <br> <br>
          Every product we create goes through rigorous quality checks to ensure it meets the highest standards of
          performance and safety. Our team is driven by a shared passion for innovation, continuously exploring new ways
          to make your spaces smarter, more efficient, and more stylish.
        </p>
        <div class="abtBtn">
          <button class="slidebtn">Our Products</button>
        </div>

      </div>
    </div>

  </div>

</div>