.brdmain{
    margin-left: 30px;
    font-size: 17px;
    display: flex;
}
.breadProd{
    color: red;
}

.breadcrumb{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.brdasdieContent{
    margin-right: 25px;
}
.brdSrchInp{
    border: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    width: 300px;
    padding: 8px;
    caret-color: gray;
}
input::placeholder{
    color: grey;
    font-size: 13px;
    
}
input:focus{
    border: none;
    outline: none;
}
.srchinp{
    position: absolute;
    font-size: 18px;
    margin-left: -30px;
    margin-top: 12px;
    border: none;
    cursor: pointer;    
    background: linear-gradient(90deg, #ff7e29, #ff3e3e);
  -webkit-background-clip: text;   
  -webkit-text-fill-color: transparent;
  background-clip: text;           
  color: transparent; 
}
.brdico{
    position: absolute;
  right: 350px; 
//   top: 110px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wishico{
    font-size: 20px;           
  color: #fff;                
  background: linear-gradient(90deg, #ff7e29, #ff3e3e);   
  width: 40px;                
  height: 40px;               
  display: flex;              
  align-items: center;
  justify-content: center;
  border-radius: 50%;  
  cursor: pointer;
  transition: 0.2s;
}
.wishico:hover{
transform: scale(1.1);
}
.badge{
    position: absolute;
    margin-bottom: 20px;
    border-radius: 50px;
    font-size: 10px;
    background: red;
    margin-left: 50px;
}