<nav style="" aria-label="breadcrumb">
  <div class="breadcrumb">
    <div class="brdmain">
    <li class="breadcrumb-item"><a>Home</a></li>
    <li class="breadcrumb-item active breadProd" aria-current="page">Products</li>
    <li class="breadcrumb-item active breadProd" aria-current="page">Fans</li>
    </div>
    <div class="brdasdieContent">
      <input type="text" class="brdSrchInp" placeholder="Search products" > <button class="srchinp">Find</button>
      <!-- <i class="fa-solid fa-magnifying-glass srchinp"></i> -->
    </div>
</div>
</nav>