.contain{
    margin-top: 50px;
    height: auto;
    width: 100%;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.prodImgContain{
    cursor: pointer;
     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
     margin-left: 15px;
}
.idNewImg{
    margin-top: 30px;
    width: 350px;
    height: 400px;
    margin-bottom: 30px;
    margin-left: 30px;
    transition: 0.3s;
}
.idNewImg:hover{
    transform: scale(1.1);
}

.inner-contain1{
    display: flex;
}
.prodHd{
    width: 100%;    
}
.imgpricedet-main{
    display: flex;
    gap: 20px;
}
.prodprice{
    margin-left: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #02010a;
    font-weight: 600;
    font-size: 30px;
}
.prodoldprice{
    text-decoration: line-through;
}

.hd{
    max-width: 700px;
    text-align: start;
    margin-left: 50px;
    margin-top: 30px;
    font-family:sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 300;
    text-transform: capitalize;
}
.starCon{
    margin-left: 50px;
    
}
.underline{
    color: #335c67; 
}
.hd-desc{
    margin-left: 50px;
    color: #6d7275;
}

.line{
   width: 47vw;
    height: 10px;
    margin-left: 50px;
}
.taxtxt{
    margin-left: 50px;
    font-size: 18px;
    color: #2c6e49;
    font-weight: 600;
}
.strico{
    color: #ff5714;
}
.colortxt{
    text-transform: uppercase;
    margin-left: 50px;
    font-weight: 700;
    font-size: 17px;
    margin-top: 50px;
}