<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="contain">
    <div class="cont">
        <div class="inner-contain1">
            <div class="prodImgContain">
                <img class="idNewImg" [src]="selectedProduct.idimg" alt="" srcset="">
                <!-- <img class="idNewImg" [src]="selectedProduct.idimg" alt="" srcset=""> -->
            </div>
            <div class="prodDetContain">
                <div class="prodHd">
                    <h3 class="hd">{{selectedProduct.prodImgName}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>