<div class="contain">
  <div class="outer-bg">
    <div class="logoCon">
      <img class="logoClass" src="/Images/logo1.png" alt="" />
    </div>
    <div class="navbar-content">
        <ng-container>
      <nav>
        <ul>
          <li *ngFor="let navbar of navbarLink">
            <a class="navLink" [routerLink]="navbar.NavLinks"> {{ navbar.NavName }}</a>
          </li>
        </ul>
      </nav>
      </ng-container>
    </div>
    <div class="navIcons">
      <!-- <i class="fa-brands fa-instagram ico"></i>
  <i class="fa-brands fa-whatsapp ico"></i> -->
   <li class="nav-item dropdown">
          <a class="nav-link soc" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Join Our Community
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let social of socialLink"><a class="dropdown-item dpm" [routerLink]="social.SocLinks">
              <i [ngClass]="[social.SocIcons, 'ico']" [ngStyle]="{'color' : social.SocColor}" ></i> {{social.SocName}}</a></li>
          </ul>
        </li>
</div>
  </div>
</div>