.outer-product-contain {
    background-color: white;
    width: 81vw;
    height: auto;
    margin-left: -10px; 
    position: relative;
    padding: 20px; 
    // cursor: pointer;
    margin-top: 15px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.inner-product-contain {
    display: grid;        
    grid-template-columns: repeat(5, 1fr);    
    gap: 15px;            
}

.inner-outer-contain {
    background-color: white;
    width: 90%;
    height: auto;
    object-fit: contain; 
    // transition: 0.3s;
    margin-bottom: 30px;
}
.inner-outer-contain:hover{
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius: 5px;
}

.conImg{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    // margin-top: 10px;
    z-index: 10;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;

}
.conImg:hover{
    transform: scale(1.1);
}

.prodImgName{
    // text-align: center;
    margin-top: 20px;
    margin-left: 8px;
    display: flex;
    gap: 20px;
}
.headtxt {
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.headtxt:hover{
    color: #ff7e29;
}
.prodImgDetail{
    margin-top: -10px;
    margin-left: 8px;

}
.imgDet{
    font-size: 13px;
    color: #6c757d;
}
.prodImgprice{
    margin-top: -10px;
    margin-left: 8px;
    display: flex;
    gap: 10px;
}
.Imgprice{
    font-weight: 600;
    font-size: 14px;
}
.imgoldprice{
    font-size: 12px;
    color: grey;
    text-decoration: line-through;
    margin-top: 2px;
}
.starCon{
    font-weight: 600;
    font-size: 14px;
}
.strico{
    color: green;
    margin-left: 5px;
}
.proddiscou{
    font-size: 12px;
    color: #c9184a;
}
.heart-img{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 19px;
    transition: 0.3s;
    color: grey;
    cursor: pointer;
}
.heart-img:hover{
// color: red;
}
.proddetbtn{
    margin-left: 10px;
    display: flex;
    gap: 20px;
}
// .prodbtn{
//     margin-bottom: 20px;
//     font-size: 15px;
//     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//     background-color: #e36414;
//     color: white;
//     border: none;
//     padding: 8px ;
//     border-radius: 5px;
// }
.sameico{
    font-size: 20px;
    font-weight: 200;
    color: #6c757d;
}

.soc:hover{
  background-color:#708d81;
    // transform: scale(1.01);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
.soc{
  background: linear-gradient(90deg, #ff7e29, #ff3e3e);
  padding: 7px 15px;
  border-radius: 12px;
  color: white !important;
  font-weight: 500;
  font-size: 13px;
  transition: 0.3s;
  border: none;
  margin-bottom: 20px;
}