<div id="carouselExampleDark" class="carousel carousel-dark slide " data-bs-ride="carousel" data-bs-interval="3000">

  <!-- Indicators -->
  <div class="carousel-indicators">
    <button *ngFor="let slide of sliderContent; let i = index"
            type="button"
            [attr.data-bs-target]="'#carouselExampleDark'"
            [attr.data-bs-slide-to]="i"
            [class.active]="i === 0"
            [attr.aria-current]="i === 0 ? 'true' : null"
            [attr.aria-label]="'Slide ' + (i + 1)">
    </button>
  </div>

  <div class="carousel-inner">
    <div *ngFor="let slide of sliderContent; let i = index"
         class="carousel-item"
         [class.active]="i === 0">
         
  <div
  class="d-block w-100 bd-placeholder-img carousel-image"
  [ngStyle]="{
    'background-image': 'linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(' + slide.sliderBgImage + ')'
  }">


      <div class="carousel-caption d-none d-md-block">
        <h5 class="sliderHead" [innerHTML]="slide.sliderHead"></h5>
        <p class="sliderText">{{ slide.sliderText }}</p>
        <a *ngIf="slide.sliderButton" class="slidebtn">{{ slide.sliderButton }}</a>
      </div>

    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
